*.iml
.dart_tool/
/build/
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.android/gradle/
.android/gradle
android/gradle
./android/gradle/
pubspec.lock
.flutter-plugins-dependencies
*.jar
*.bin
*.pom
*.receipt
*.class
*.bat
*.lock
*.aar
.flutter-plugins-dependencies
.flutter-plugins-dependencies
build/